<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="text-center">Welcome to StockIT!</h1>
        <h2>What is a 'Stock'<h2>
        <p id="homeParagraph">
            A stock is a type of security that signifies ownership in a corporation and 
            represents a claim on part of the corporation's assets and earnings.
            There are two main types of stock: common and preferred. Common stock usually 
            entitles the owner to vote at shareholders' meetings and to receive dividends. 
            Preferred stock generally does not have voting rights, but has a higher claim on 
            assets and earnings than the common shares. For example, owners of preferred stock 
            receive dividends before common shareholders and have priority in the event that a 
            company goes bankrupt and is liquidated.
            Also known as "shares" or "equity."
        </p>
        <h2>BREAKING DOWN 'Stock'</h2>
        <p id="homeParagraph">
            A holder of stock (a shareholder) has a claim to a part of the corporation's 
            assets and earnings. In other words, a shareholder is an owner of a company. 
            Ownership is determined by the number of shares a person owns relative to the number of 
            outstanding shares. For example, if a company has 1,000 shares of stock outstanding and one person 
            owns 100 shares, that person would own and have claim to 10% of the company's assets.
            Stocks are the foundation of nearly every portfolio. Historically, they have outperformed 
            most other investments over the long run.
        </p>



Read more: Stock http://www.investopedia.com/terms/s/stock.asp#ixzz4tEMJRmnE 
Follow us: Investopedia on Facebook</p>
        <p class="text-center"><%= link_to 'Sign up!',  new_user_registration_path, class: "btn btn-default" %> <%= link_to 'Log in!',  new_user_session_path, class: "btn btn-default" %> </p>
    </div>
</div>
